<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<!-- a-frame -->
	<script
			src="https://cdn.jsdelivr.net/gh/aframevr/aframe@1c2407b26c61958baa93967b5412487cd94b290b/dist/aframe-master.min.js"></script>
	<!-- ar.js -->
	<script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar-nft.js"></script>
	<!-- vue.js -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- axios.js -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" href="css/main.css">
	<!-- <script src="http://localhost:8098"></script> -->
	<style>
		.arjs-loader {
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.8);
			z-index: 9999;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.arjs-loader div {
			text-align: center;
			font-size: 1.25em;
			color: white;
		}
	</style>
</head>

<body style='margin : 0px; overflow: hidden; font-family: Monospace;'>
	<div id="search-bar">
		<img class="logo" style="width: 40%;" src="assets/IMG_5561.PNG" alt="">
		<div class="input">
			<input id="search-box" type="text" v-model="keyword" placeholder="please enter search keyword" />
			<button id="search-btn" v-on:click="searchBtnOnClick">Search</button>
		</div>
	</div>

	<div id="search-result">
		<!--	<button v-if="result.length == 0" v-on:click="result=[]">Clear</button>-->
		<button v-if="result.length != 0" v-on:click="result=[]">Clear</button>
		<div v-for="(item,index) in result" :key="index" class="result-item">
			<a :href="item.url">{{item.name}}</a>
			<span class="url">{{item.displayUrl}}</span>
			<span>{{item.snippet}}</span>
		</div>
	</div>

	<div class="arjs-loader">
		<div>Loading, please wait...</div>
	</div>
	<a-scene vr-mode-ui="enabled: false;" renderer="logarithmicDepthBuffer: true;" embedded
			 arjs="trackingMethod: best; sourceType: webcam;debugUIEnabled: false;">
		<!-- we use cors proxy to avoid cross-origin problems -->
		<a-nft type="nft"
			   url="https://arjs-cors-proxy.herokuapp.com/https://raw.githack.com/AR-js-org/AR.js/master/aframe/examples/image-tracking/nft/trex/trex-image/trex"
			   smooth="true" smoothCount="10" smoothTolerance=".01" smoothThreshold="5">
			<a-entity gltf-model="https://arjs-cors-proxy.herokuapp.com/https://raw.githack.com/AR-js-org/AR.js/master/aframe/examples/image-tracking/nft/trex/scene.gltf"
					  scale="5 5 5" position="50 150 0">
			</a-entity>
		</a-nft>
		<a-entity camera></a-entity>

		<!-- ar.js -->
		<script>
		</script>
		<!-- Vue.js -->
		<script src="js/index.js"></script>
</body>