<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<!-- three.js library -->
	<script
			src='https://cdn.rawgit.com/jeromeetienne/AR.js/master/three.js/examples/vendor/three.js/build/three.min.js'></script>
	<script
			src="https://cdn.rawgit.com/jeromeetienne/AR.js/master/three.js/examples/vendor/three.js/examples/js/libs/stats.min.js"></script>
	<!-- ar.js -->
	<script src="https://cdn.rawgit.com/jeromeetienne/AR.js/master/three.js/build/ar.js"></script>
	<script>THREEx.ArToolkitContext.baseURL = 'https://cdn.rawgit.com/jeromeetienne/AR.js/master/three.js/examples/'</script>
	<!-- vue.js -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- axios.js -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" href="css/main.css">
	<!-- <script src="http://localhost:8098"></script> -->
</head>

<body style='margin : 0px; overflow: hidden; font-family: Monospace;'>
	<div id="search-bar">
		<img class="logo" style="width: 40%;" src="assets/IMG_5561.PNG" alt="">
		<div class="input">
			<input id="search-box" type="text" v-model="keyword" placeholder="please enter search keyword" />
			<button id="search-btn" v-on:click="searchBtnOnClick">Search</button>
		</div>
	</div>

	<div id="search-result">
		<!--	<button v-if="result.length == 0" v-on:click="result=[]">Clear</button>-->
		<button v-if="result.length != 0" v-on:click="result=[]">Clear</button>
		<div v-for="(item,index) in result" :key="index" class="result-item">
			<a :href="item.url">{{item.name}}</a>
			<span class="url">{{item.displayUrl}}</span>
			<span>{{item.snippet}}</span>
		</div>
	</div>
	<script src="js/index.js"></script>
	<script>
		var renderer = new THREE.WebGLRenderer();
		renderer.setSize(window.innerWidth, window.innerHeight);
		document.body.appendChild(renderer.domElement);

		// camera
		var camera = new THREE.PerspectiveCamera(95, window.innerWidth / window.innerHeight, 1, 1000);
		camera.position.y = -250;
		camera.position.z = 400;
		camera.rotation.x = 45 * (Math.PI / 180);

		// scene
		var scene = new THREE.Scene();
		scene.add(camera); //ADDED

		var img = new THREE.MeshBasicMaterial({ //CHANGED to MeshBasicMaterial
			map: new THREE.TextureLoader().load('assets/IMG_5561.PNG')
		});

		// plane
		var plane = new THREE.Mesh(new THREE.PlaneGeometry(400, 400), img);
		plane.overdraw = true;
		scene.add(plane);

		// add subtle ambient lighting
		var ambientLight = new THREE.AmbientLight(0x555555);
		scene.add(ambientLight);

		// add directional light source
		var directionalLight = new THREE.DirectionalLight(0xffffff);
		directionalLight.position.set(1, 1, 1).normalize();
		scene.add(directionalLight);

		// create wrapper object that contains three.js objects
		var three = {
			renderer: renderer,
			camera: camera,
			scene: scene,
			plane: plane
		};
		renderer.render(scene, camera);
	</script>
</body>